In [49]:
import requests
from urllib.parse import quote
import pandas as pd

In [50]:
# API 키 로드
with open('keys/서울전월세key.txt') as file:
    서울_key = file.read()

In [51]:
# API키를 활용해 데이터 추출
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/1/1000/'
url1 = requests.get(base_url).json()

In [52]:
# 데이터 프레임으로 변환
df1 = pd.DataFrame(url1['tbLnOpendataRentV']['row'])
df1.head()

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,FLR_NO,...,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM,CNTRCT_PRD,NEW_RON_SECD,CNTRCT_UPDT_RQEST_AT,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
0,2023,11170,용산구,12000,도원동,1,대지,0025,0000,16.0,...,1351,18,도원동삼성래미안(임대),2001,아파트,,,,,
1,2023,11710,송파구,10900,장지동,1,대지,0856,0000,2.0,...,4376,29,송파파인타운10단지,2007,아파트,,,,,
2,2023,11380,은평구,10800,역촌동,1,대지,0044,0002,13.0,...,3506,5,헤르미온,2020,연립다세대,,,,,
3,2023,11740,강동구,11000,강일동,1,대지,0674,0000,12.0,...,2938,23,강일리버파크3단지,2009,아파트,,,,,
4,2023,11530,구로구,11100,천왕동,1,대지,0274,0000,7.0,...,4159,5,천왕이펜하우스7단지,2017,아파트,,,,,

In [53]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/1001/2000/'
url2 = requests.get(base_url).json()

In [54]:
# 데이터 프레임으로 변환
df2 = pd.DataFrame(url2['tbLnOpendataRentV']['row'])
data = df1.append(df2)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\3909156001.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = df1.append(df2)

In [55]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/2001/3000/'
url3 = requests.get(base_url).json()

In [56]:
# 데이터 프레임으로 변환
df3 = pd.DataFrame(url3['tbLnOpendataRentV']['row'])
data1 = data.append(df3)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\834226942.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data1 = data.append(df3)

In [57]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/3001/4000/'
url4 = requests.get(base_url).json()

In [58]:
# 데이터 프레임으로 변환
df4 = pd.DataFrame(url4['tbLnOpendataRentV']['row'])
data2 = data1.append(df4)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\3216440035.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data2 = data1.append(df4)

In [59]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/4001/5000/'
url5 = requests.get(base_url).json()

In [60]:
# 데이터 프레임으로 변환
df5 = pd.DataFrame(url5['tbLnOpendataRentV']['row'])
data3 = data2.append(df5)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\3159005077.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data3 = data2.append(df5)

In [61]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/5001/6000/'
url6 = requests.get(base_url).json()

In [62]:
# 데이터 프레임으로 변환
df6 = pd.DataFrame(url6['tbLnOpendataRentV']['row'])
data4 = data3.append(df6)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\1008021812.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data4 = data3.append(df6)

In [63]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/6001/7000/'
url7 = requests.get(base_url).json()

In [64]:
# 데이터 프레임으로 변환
df7 = pd.DataFrame(url7['tbLnOpendataRentV']['row'])
data5 = data4.append(df7)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\1004032515.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data5 = data4.append(df7)

In [65]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/7001/8000/'
url8 = requests.get(base_url).json()

In [66]:
# 데이터 프레임으로 변환
df8 = pd.DataFrame(url8['tbLnOpendataRentV']['row'])
data6 = data5.append(df8)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\3769557642.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data6 = data5.append(df8)

In [67]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/8001/9000/'
url9 = requests.get(base_url).json()

In [68]:
# 데이터 프레임으로 변환
df9 = pd.DataFrame(url9['tbLnOpendataRentV']['row'])
data7 = data6.append(df9)

C:\Users\human\AppData\Local\Temp\ipykernel_3200\1064704764.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data7 = data6.append(df9)

In [69]:
base_url = f'http://openapi.seoul.go.kr:8088/{quote(서울_key)}/json/tbLnOpendataRentV/9001/10000/'
url10 = requests.get(base_url).json()

In [73]:
# 데이터 프레임으로 변환
df10 = pd.DataFrame(url10['tbLnOpendataRentV']['row'])
data8 = data7.append(df10)
data8

C:\Users\human\AppData\Local\Temp\ipykernel_3200\1874194048.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data8 = data7.append(df10)

,ACC_YEAR,SGG_CD,SGG_NM,BJDONG_CD,BJDONG_NM,LAND_GBN,LAND_GBN_NM,BOBN,BUBN,FLR_NO,...,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM,CNTRCT_PRD,NEW_RON_SECD,CNTRCT_UPDT_RQEST_AT,BEFORE_GRNTY_AMOUNT,BEFORE_MT_RENT_CHRGE
0,2023,11170,용산구,12000,도원동,1,대지,0025,0000,16.0,...,1351,18,도원동삼성래미안(임대),2001,아파트,,,,,
1,2023,11710,송파구,10900,장지동,1,대지,0856,0000,2.0,...,4376,29,송파파인타운10단지,2007,아파트,,,,,
2,2023,11380,은평구,10800,역촌동,1,대지,0044,0002,13.0,...,3506,5,헤르미온,2020,연립다세대,,,,,
3,2023,11740,강동구,11000,강일동,1,대지,0674,0000,12.0,...,2938,23,강일리버파크3단지,2009,아파트,,,,,
4,2023,11530,구로구,11100,천왕동,1,대지,0274,0000,7.0,...,4159,5,천왕이펜하우스7단지,2017,아파트,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2023,11560,영등포구,10700,영등포동6가,,,,,0.0,...,11000,20,,2014,단독다가구,23.10~25.08,신규,,0,0
996,2023,11500,강서구,10300,화곡동,,,,,0.0,...,200,25,,1992,단독다가구,,,,,
997,2023,11560,영등포구,13200,신길동,,,,,0.0,...,12000,0,,,단독다가구,,,,,
998,2023,11560,영등포구,13200,신길동,,,,,0.0,...,12000,0,,2023,단독다가구,23.11~25.11,신규,,0,
999,2023,11740,강동구,10800,성내동,,,,,0.0,...,1000,52,,1984,단독다가구,23.10~25.10,신규,,0,0

In [74]:
# tbLnOpendataRentV 안에있는 모든 키 확인
data8.keys()

Index(['ACC_YEAR', 'SGG_CD', 'SGG_NM', 'BJDONG_CD', 'BJDONG_NM', 'LAND_GBN',
       'LAND_GBN_NM', 'BOBN', 'BUBN', 'FLR_NO', 'CNTRCT_DE', 'RENT_GBN',
       'RENT_AREA', 'RENT_GTN', 'RENT_FEE', 'BLDG_NM', 'BUILD_YEAR',
       'HOUSE_GBN_NM', 'CNTRCT_PRD', 'NEW_RON_SECD', 'CNTRCT_UPDT_RQEST_AT',
       'BEFORE_GRNTY_AMOUNT', 'BEFORE_MT_RENT_CHRGE'],
      dtype='object')

In [75]:
# 필요없는 컬럼 삭제
data8.drop(columns=['ACC_YEAR','SGG_CD','LAND_GBN','BJDONG_CD','LAND_GBN_NM','BOBN','BUBN','NEW_RON_SECD','CNTRCT_UPDT_RQEST_AT','BEFORE_GRNTY_AMOUNT','BEFORE_MT_RENT_CHRGE','CNTRCT_PRD'], inplace=True)
data8.dropna(inplace=True)
data8.tail()

,SGG_NM,BJDONG_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM
995,영등포구,영등포동6가,0.0,20231010,월세,44.00,11000,20,,2014,단독다가구
996,강서구,화곡동,0.0,20231010,월세,30.15,200,25,,1992,단독다가구
997,영등포구,신길동,0.0,20231010,전세,19.80,12000,0,,,단독다가구
998,영등포구,신길동,0.0,20231010,전세,19.80,12000,0,,2023,단독다가구
999,강동구,성내동,0.0,20231010,월세,33.00,1000,52,,1984,단독다가구

#### 결측치 처리

In [76]:
# 공백을 NaN으로 대체
import numpy as np
df = data8.replace('', np.nan)
df

,SGG_NM,BJDONG_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM
0,용산구,도원동,16.0,20231022,월세,32.76,1351,18,도원동삼성래미안(임대),2001,아파트
1,송파구,장지동,2.0,20231022,월세,49.93,4376,29,송파파인타운10단지,2007,아파트
2,은평구,역촌동,13.0,20231022,월세,16.12,3506,5,헤르미온,2020,연립다세대
3,강동구,강일동,12.0,20231021,월세,39.90,2938,23,강일리버파크3단지,2009,아파트
4,구로구,천왕동,7.0,20231021,월세,29.96,4159,5,천왕이펜하우스7단지,2017,아파트
...,...,...,...,...,...,...,...,...,...,...,...
995,영등포구,영등포동6가,0.0,20231010,월세,44.00,11000,20,NaN,2014,단독다가구
996,강서구,화곡동,0.0,20231010,월세,30.15,200,25,NaN,1992,단독다가구
997,영등포구,신길동,0.0,20231010,전세,19.80,12000,0,NaN,NaN,단독다가구
998,영등포구,신길동,0.0,20231010,전세,19.80,12000,0,NaN,2023,단독다가구
999,강동구,성내동,0.0,20231010,월세,33.00,1000,52,NaN,1984,단독다가구

In [77]:
# 변경 확인
df.iloc[496]

SGG_NM               관악구
BJDONG_NM            신림동
FLR_NO               0.0
CNTRCT_DE       20231020
RENT_GBN              월세
RENT_AREA           18.0
RENT_GTN             300
RENT_FEE              20
BLDG_NM              NaN
BUILD_YEAR          1989
HOUSE_GBN_NM       단독다가구
Name: 496, dtype: object

In [78]:
# 결측치 확인
df.isna().sum()

SGG_NM             0
BJDONG_NM          0
FLR_NO             0
CNTRCT_DE          0
RENT_GBN           0
RENT_AREA          0
RENT_GTN           0
RENT_FEE           0
BLDG_NM         1889
BUILD_YEAR       188
HOUSE_GBN_NM       0
dtype: int64

In [79]:
# 결측치 제거
df = df.dropna()
df

,SGG_NM,BJDONG_NM,FLR_NO,CNTRCT_DE,RENT_GBN,RENT_AREA,RENT_GTN,RENT_FEE,BLDG_NM,BUILD_YEAR,HOUSE_GBN_NM
0,용산구,도원동,16.0,20231022,월세,32.76,1351,18,도원동삼성래미안(임대),2001,아파트
1,송파구,장지동,2.0,20231022,월세,49.93,4376,29,송파파인타운10단지,2007,아파트
2,은평구,역촌동,13.0,20231022,월세,16.12,3506,5,헤르미온,2020,연립다세대
3,강동구,강일동,12.0,20231021,월세,39.90,2938,23,강일리버파크3단지,2009,아파트
4,구로구,천왕동,7.0,20231021,월세,29.96,4159,5,천왕이펜하우스7단지,2017,아파트
...,...,...,...,...,...,...,...,...,...,...,...
909,강서구,화곡동,3.0,20231010,월세,60.81,4000,70,혜성팰리스빌12차,2004,연립다세대
951,은평구,불광동,1.0,20231010,월세,42.36,2000,50,효성빌라(447-26),1993,연립다세대
952,서대문구,홍제동,6.0,20231010,월세,59.99,20000,130,홍제역해링턴플레이스,2021,아파트
955,서대문구,홍제동,2.0,20231010,전세,84.97,75000,0,홍제센트럴IPARK,2020,아파트
971,송파구,문정동,13.0,20231010,월세,20.79,1000,70,힐스테이트에코문정,2018,오피스텔

In [80]:
# csv파일로 저장
df.to_csv('data/서울전월세_전처리.csv', index=False, encoding='utf-8')